<!doctype html>
<html ng-app="reddit-clone">
  <head>
    <title>My Angular Reddit Clone App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.0/css/uikit.min.css" />
    <style>
    .color-black {
      color : black;
    }
    .color-red {
      color : red;
    }
    .color-green {
      color : green;
    }
    </style>
  </head>
  <body ng-controller="reddit">
    <header>
      <button ng-click="view.showPostForm = !view.showPostForm">Add Post</button>
      <input type="text" ng-model="view.searchQuery">search</input>
      <select ng-model="view.orderBy">sort by:
        <option value="-votes" ng-selected="true">popular</option>
        <option value="-dateTime">latest</option>
        <option value="title">title</option>
      </select>
      <form ng-show="view.showPostForm" ng-submit="submitPost()">
        <input type="text" ng-model="view.title" placeholder="title">
        <input type="text" ng-model="view.author" placeholder="author">
        <input type="text" ng-model="view.imageURL" placeholder="image URL">
        <input type="text" ng-model="view.description" placeholder="description">
        <input type="submit">
      </form>
    </header>
    <div ng-repeat="post in posts | filter:view.searchQuery | orderBy:view.orderBy || '-votes'">
      <img ng-src="{{post.imageURL}}" height="{{view.maxImgHeight}}" width="{{view.maxImgWidth}}">
      <div ng-hide="post.commentShow">
      <div class="meta">
        <span>title: {{post.title}}, </span>
        <span>author: {{post.author}}</span>
        <div>posted at: {{post.dateTime | date:"MM/dd/yyyy 'at' h:mma"}}</div>
      </div>
      <div>description: {{post.description}}</div>
      <button ng-click="showComments(post)">comments</button>
      <button ng-click="commenting(post)">write comment</button>
      <div>
        <button ng-click="upvote(post)">up</button>
        <span ng-class="{'color-red':post.votes < 0, 'color-black':post.votes === 0, 'color-green':post.votes > 0}">{{post.votes}}</span>
        <button ng-click="downvote(post)">down</button>
      </div>
    </div>
    <div ng-show="post.commentShow && !post.commenting">
      <div ng-repeat="comment in post.comments">
        <div>{{comment.author}}</div>
        <div>{{comment.text}}</div>
      </div>
      <button ng-click="post.commentShow = !post.commentShow">done</button>
    </div>
    <form ng-show="post.commenting" ng-submit="submitComment(post)">
      <input type="text" ng-model="view.commentAuthor" placeholder="author">
      <input type="text" ng-model="view.commentText" placeholder="comment">
      <input type="submit">
    </form>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
